/* General setup */

@font-face {
  font-family: "SourceSansPro-Black";
  src: url("fonts/source-sans-pro/SourceSansPro-Black.woff2");
}


@font-face{
  font-family:"SourceSansPro-ExtraLightIt";
  src: url("fonts/source-sans-pro/SourceSansPro-ExtraLightIt.woff2")
}

html {
  font-size: 11px;
  margin: 0;
  font-family: "SourceSansPro-ExtraLightIt",sans-serif;

}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */

h1,h2{
  font-family: "SourceSansPro-Black";
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

p {
  font-size: 1.4rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
}